<% content_for :title do %>Kanban Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="2" data-sizex="4" data-sizey="2">
      <div data-id="control_chart" data-view ="BubbleChart" data-title="Lead Time Control Chart" data-moreinfo=""></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lead_times" data-view="List" data-unordered="true" data-title="Lead Times" data-moreinfo="95 percentile for lead times"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="4" data-sizey="1">
      <div data-id="thresholds" data-view="List" data-unordered="true" data-title="Threshold Warnings" ></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="lead_time_distribution" data-view ="BarChart" data-title="Lead Time Distribution" data-moreinfo=""></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="cumulative_flow" data-view ="LineChart" data-title="Cumulative Flow" data-moreinfo=""></div>
    </li>

    <li data-row="5" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="started_vs_completed" data-view ="BarChart" data-title="Started vs Completed" data-moreinfo=""></div>
    </li>

    <li data-row="5" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="net_flow" data-view ="BarChart" data-title="Net Flow" data-moreinfo=""></div>
    </li>

    <li data-row="6" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="throughput" data-view ="BarChart" data-title="Throughput" data-moreinfo=""></div>
    </li>

    <li data-row="7" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="forecast" data-view="Table" data-title="Forecasts" data-moreinfo="" updatedAtMessage=""></div>
    </li>

    <li data-row="7" data-col="2" data-sizex="4" data-sizey="2">
      <div data-id="forecast_vs_target" data-view ="BubbleChart" data-title="Forecast vs Target" data-moreinfo=""></div>
    </li>

  </ul>
</div>