<% content_for :title do %>Flow Charts<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="cumulative_flow" data-view ="LineChart" data-title="Cumulative Flow" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="started_vs_finished" data-view ="BarChart" data-title="Started vs Completed" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="net_flow" data-view ="BarChart" data-title="Net Flow" data-moreinfo=""></div>
    </li>

  </ul>
</div>